@use 'base/variables' as v;
@use 'base/mixins' as m;

.recursos {
    width: 100%;
    background-color: v.$grisOscuro;
    padding: 6rem 2rem;
    position: relative;
    overflow: hidden;
    isolation: isolate;

    @include m.tablet{
        padding: 6rem;
    }
}

.recursos::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url('/src/img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
              
  z-index: -1;
  opacity:0.1;
}

.recursos-title {
    width: 90%;
    max-width: 144rem;
    margin-bottom: 4rem;
    color: v.$blanco;
    font-family: 'Horizon', sans-serif;
    text-wrap: balance;

    @include m.tablet{
        width: 100%;
        margin: 0 auto;
        text-wrap: nowrap;
    }
}

.recursos-container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include m.tablet{
        grid-template-columns: repeat(4, 1fr);
        padding: 4rem 0;
    }
}

.recurso {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: v.$grisOscuro;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .8s ease, transform .8s ease;
}

.recurso-image {
    width: 100%;
    height: 22rem;
    border-radius: 12px 12px 0 0;
    overflow: hidden;

    picture, img {
      width: 100%;
      height: 100%;
      display: block;
    }

    img {
      object-fit: contain;
      object-position: center;
    }

    @media (max-width: 767px) {
      height: 14rem;
    }
}

.recurso-title {
    color: v.$blanco;
    font-family: 'Horizon', sans-serif;
    font-size: 0.7em;
    text-align: center;
    margin: 0 0 0.8rem;

    @media (max-width: 767px) {
      font-size: 1rem;
    }
}
.H2{
    font-family: 'Horizon Outlined', sans-serif;
}

.recurso-description {
    color: v.$blanco;
    text-align: left;
    margin: 0 0 1.2rem;

    @media (max-width: 767px) {
      display: none;
    }
}

.recurso-link {
    display: block;
    padding: 14px 32px;
    background: none;
    color: v.$blanco;
    font-family: 'Horizon', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    border: 2px solid v.$blanco;
    border-radius: 12px 0 12px 0;
    transition: color .3s ease, border-color .3s ease;

    @media (max-width: 767px) {
      padding: 10px 16px;
      font-size: 1.2rem;
      font-family: v.$fuente_principal;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      width: 100%;
      text-transform: uppercase;
    }

    &:hover {
        color: v.$primario;
        border: 2px solid v.$primario;
    }
}

.recursoBG {
    width: 100%;
    padding: 1.5rem;

    @include m.tablet{
        padding: 2rem;
    }
}
